* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #fff;
  list-style: none;
}

body {
  height: 100vh;
  background-color: #0e0e0e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 900px;
  width: 100%;
  max-width: 1200px;
  background-color: #1a1a1a;
  border-radius: 1rem;
  border: 2px solid #3b0958;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1024px;
}

header {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 1rem 1rem 0 0;
  border: 2px solid #3b0958;
}

header h1 {
  margin-left: 40px;
}

ul.messages {
  margin-top: 20px;
  width: 1100px;
  height: 500px;
  overflow-y: scroll;
  overflow-wrap: break-word;
}

ul::-webkit-scrollbar {
  width: 5px;
}
ul::-webkit-scrollbar-track {
  background: #3b0958;
  border-radius: 1rem;
}

ul::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 1rem;
}

.messages li {
  position: relative;
  width: 1000px;
  min-height: 50px;
  border: 2px solid #3b0958;
  border-radius: 1rem;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 50px;
}

li .content {
  width: 100%;
}

li .content p {
  word-wrap: break-word;
}
li .content h2 {
  font-size: 1rem;
  margin-left: 20px;
}

.buttons {
  position: absolute;
  margin-top: 105px;
  margin-left: 750px;
}

.buttons button {
  background-color: transparent;
  padding: 8px 30px;
  background-color: #1a1a1a;
  border: 2px solid #3b0958;
  border-radius: 0 0 1rem 1rem;
  cursor: pointer;
  font-weight: 700;
}

button.edit {
  color: #d3c22d;
  margin-right: 10px;
}

button.del {
  color: #901e1e;
}

.edit-options {
  position: absolute;
  margin-top: 105px;
}

.edit-options input {
  background-color: transparent;
  padding: 8px 30px;
  background-color: #1a1a1a;
  border: 2px solid #3b0958;
  border-radius: 0 0 1rem 1rem;
  cursor: pointer;
  font-weight: 700;
}

input.text-edit {
  cursor: text;
}

.send-edit:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

section.write__message {
  margin-top: auto;
  border-radius: 1rem 1rem 0 0;
  border: 2px solid #3b0958;
  border-bottom: none;
}

.write__message input {
  width: calc(100% - 20px);
  height: 200px;
  padding-left: 20px;
  background: transparent;
  border: none;
  border-radius: 1rem 1rem 0 0;
}

button.send {
  position: fixed;
  z-index: 10;
  margin-left: -300px;
  margin-top: 80px;
  background-color: #1a1a1a;
  padding: 10px 80px;
  border-radius: 1rem;
  border: 2px solid #3b0958;
  cursor: pointer;
  font-weight: 700;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
